.confirmacion-pj-delete {
  width: 100%;
  min-height: 48vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "Cinzel", serif;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(17, 45, 17, 0.5);
}

.confirmacion-pj-delete h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f0e68c;
  max-width: 600px;
}

/* Para posibles mensajes de error */
.confirmacion-pj-delete.error h2 {
  color: #e57373;
  text-shadow: 0 0 10px #c62828;
}
