.modal-overlay-quitar-pj-panel {
  position: fixed;
  inset: 0;
  background: rgb(2 2 2 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.modal-overlay-quitar-pj-panel.visible {
  opacity: 1;
  pointer-events: auto;
}

.modal-contenido-quitar-pj-panel {
  position: relative;
  background-color: #1a1a1a;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 0 14px rgb(239 215 124 / 70%);
  width: 90%;
  max-width: 420px;
  color: #cbdcc2;
  text-align: center;
  font-family: "Cinzel", serif;
}

.modal-titulo-quitar-pj-panel {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #f0e68c;
}

.modal-botones-quitar-pj-panel {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-quitar-quitar-pj-panel {
  background: linear-gradient(
    to bottom,
    #5c1c1c,
    #2a0f0f
  ); /* rojo vino apagado */
  border: 1px solid #c97b63;
  color: #f4e1c1;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(201, 123, 99, 0.6), 0 0 15px rgba(92, 28, 28, 0.5);
  transition: background-color 0.3s ease;
}

.btn-quitar-quitar-pj-panel:hover {
  background: linear-gradient(to bottom, #7a2626, #3b1414);
  color: #fff2d9;
  box-shadow: 0 0 10px rgba(255, 190, 150, 0.7), 0 0 18px rgba(92, 28, 28, 0.6);
}

.btn-quitar-quitar-pj-panel:active {
  background: linear-gradient(to bottom, #7a2626, #3b1414);
  color: #fff2d9;
  box-shadow: 0 0 6px rgba(255, 170, 120, 0.5), 0 0 12px rgba(92, 28, 28, 0.5);
}

.btn-cancelar-quitar-pj-panel {
  background: linear-gradient(to bottom, #3fa047, #256b2c);
  color: #f0f5e0;
  border: 1px solid #7fe27f;
  padding: 10px 22px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1),
    0 0 8px rgba(0, 255, 100, 0.3);
}

.btn-cancelar-quitar-pj-panel:hover {
  background: linear-gradient(to bottom, #4fc85b, #2e8b35);
  box-shadow: 0 0 12px rgba(0, 255, 100, 0.6), 0 0 6px rgba(0, 255, 100, 0.4);
}

.btn-cancelar-quitar-pj-panel:active {
  background: linear-gradient(to bottom, #4fc85b, #2e8b35);
  box-shadow: 0 0 12px rgba(0, 255, 100, 0.6), 0 0 6px rgba(0, 255, 100, 0.4);
}

/* Responsive */
@media (max-width: 480px) {
  .modal-contenido-quitar-pj-panel {
    padding: 20px;
  }

  .modal-titulo-quitar-pj-panel {
    font-size: 1rem;
  }

  .modal-botones-quitar-pj-panel {
    flex-direction: column;
    gap: 15px;
  }

  .btn-quitar-quitar-pj-panel,
  .btn-cancelar-quitar-pj-panel {
    width: 100%;
  }
}
