.contenedor-lista-noticias-inicio {
  padding: 2rem;
  border-radius: 12px;
  color: white;
  max-width: 800px;
  margin: auto;
}

.tarjeta-noticia-lista-noticias-inicio {
  background: 
    /*efecto madera */ repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 2px,
      transparent 2px,
      transparent 6px
    ),
    linear-gradient(135deg, #3b2416, #5c3b28);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 1px solid #a1887f;
  transition: all 0.4s ease;
}

.tarjeta-noticia-lista-noticias-inicio:hover {
  background: repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 2px,
      transparent 2px,
      transparent 6px
    ),
    linear-gradient(135deg, #3b2416, #5c3b28);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.3),
    /* brillo externo */ inset 0 0 8px rgba(255, 255, 255, 0.2); /* brillo interno */
  transform: translateY(-2px); /* efecto flotante */
}

.link-noticia-lista-noticias-inicio {
  text-decoration: none;
  color: #66bb6a;
}

.titulo-noticia-lista-noticias-inicio {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.resumen-noticia-lista-noticias-inicio {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #ddd;
}

.meta-noticia-lista-noticias-inicio {
  font-size: 0.9rem;
  color: #ddd;
}

.mensaje-vacio-lista-noticias-inicio {
  text-align: center;
  color: #ff5252;
  font-size: 1.4rem;
}

.boton-vermas-lista-noticias-inicio {
  background: linear-gradient(to bottom, #3b2d1f, #1f160e); /* cuero oscuro */
  border: 1.5px solid #d4af37; /* dorado viejo */
  color: #e6d17d;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-family: "Cinzel", serif;
  border-radius: 6px;
  border: 1px solid #f0e68c;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.boton-vermas-lista-noticias-inicio:hover {
  background: linear-gradient(to bottom, #4d3a21, #2a1f15);
  color: #ffe97d;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
}
