.contenedor-lista-todas-las-noticias {
  padding: 2rem;
  border-radius: 12px;
  color: white;
  max-width: 900px;
  margin: auto;
}

.tarjeta-noticia-lista-todas-las-noticias {
  background: 
    /*efecto madera */ repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 2px,
      transparent 2px,
      transparent 6px
    ),
    linear-gradient(135deg, #3b2416, #5c3b28);
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 1px solid #a1887f;
  transition: all 0.4s ease;
}

.tarjeta-noticia-lista-todas-las-noticias:hover {
  background: repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 2px,
      transparent 2px,
      transparent 6px
    ),
    linear-gradient(135deg, #3b2416, #5c3b28);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.3),
    /* brillo externo */ inset 0 0 8px rgba(255, 255, 255, 0.2); /* brillo interno */
  transform: translateY(-2px); /* efecto flotante */
}

.link-noticia-lista-todas-las-noticias {
  text-decoration: none;
  color: #66bb6a;
}

.titulo-noticia-lista-todas-las-noticias {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

.cuerpo-noticia-lista-todas-las-noticias {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 0.6rem;
}

.meta-noticia-lista-todas-las-noticias {
  font-size: 0.9rem;
  color: #ddd;
}

.mensaje-vacio-lista-todas-las-noticias {
  color: #ff5252;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}
