.contenedor-noticia-completa {
  color: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 800px;
  margin: auto;

}

.tarjeta-noticia-noticia-completa {
  background-color: #1c3d1c;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid rgba(76, 175, 80, 0.3);
}

.titulo-noticia-completa {
  color: #66bb6a;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.resumen-noticia-completa {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.divisor-noticia-completa {
  border: none;
  border-top: 1px solid #4caf50;
  margin: 1rem 0;
}

.cuerpo-completo-noticia-completa {
  color: white;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.autor-noticia-completa {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  color: #66bb6a;
  margin-top: 1rem;
}

.mensaje-error-noticia-completa {
  text-align: center;
  color: #ff5252;
  font-size: 1.4rem;
}
