.formulario-nuevo-soporte {
  padding: 2rem;
  border-radius: 12px;
  max-width: 700px;
  margin: auto;
  color: white;
}

.titulo-nuevo-soporte {
  font-size: 1.8rem;
  color: #f0e68c;
  margin-bottom: 2rem;
  text-align: center;
}

.label-nuevo-soporte {
  display: block;
  margin: 0.8rem 0 0.4rem;
  color: white;
  font-weight: bold;
}

.input-nuevo-soporte,
.select-nuevo-soporte,
.textarea-nuevo-soporte {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(10, 10, 10);
  color: #d8e9c7;
  border: 2px solid #f0e68c;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.textarea-nuevo-soporte {
  resize: vertical;
}

.checkbox-nuevo-soporte {
  margin-bottom: 1.5rem;
  color: #66bb6a;
}

.nuevo-soporte-btn-container {
  display: flex;
  justify-content: space-around;
}

.boton-enviar-nuevo-soporte {
  background: linear-gradient(to bottom, #3fa047, #256b2c);
  border: 1px solid #7fe27f;
  color: white;
  padding: 12px 24px;
  font-family: "Cinzel", serif;
  max-width: 450px;
  align-self: center;
  font-size: 1.2em;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
  transition: box-shadow 0.3s ease, transform 0.1s ease;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1),
    0 0 8px rgba(0, 255, 100, 0.3);
}

.boton-enviar-nuevo-soporte:hover {
  background: linear-gradient(to bottom, #4fc85b, #2e8b35);
  box-shadow: 0 0 12px rgba(0, 255, 100, 0.6), 0 0 6px rgba(0, 255, 100, 0.4);
  transform: translateY(-1px);
}
.boton-enviar-nuevo-soporte:active {
  background: linear-gradient(to bottom, #4fc85b, #2e8b35);
  box-shadow: 0 0 12px rgba(0, 255, 100, 0.6), 0 0 6px rgba(0, 255, 100, 0.4);
  transform: translateY(-1px);
}

.modal-content.success {
  background-color: rgba(76, 175, 80, 0.3);
  border: 1px solid #4caf50;
  color: #66bb6a;
  padding: 1rem;
  border-radius: 8px;
}

.modal-content.error {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  color: white;
  padding: 1rem;
  border-radius: 8px;
}

@media (max-width: 550px) {
  .nuevo-soporte-btn-container {
    font-size: 11px;
  }
}
