.paginaInicio {
  display: flex;
  align-items: flex-start; /* Alinea los inicios de ambos componentes */
  gap: 2rem; /* Espacio entre el banner y las noticias */
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}
.discord-tooltip-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.discord-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #5865f2; /* Color Discord */
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: white;
  z-index: 9999;
}

.discord-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Tooltip */
.discord-tooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  bottom: 65px; /* justo arriba del botón */
  right: 100px;
  transform: translateX(50%);
  transition: opacity 0.3s;
  white-space: nowrap;
  font-size: 14px;
  pointer-events: none;
}

.discord-tooltip-container:hover .discord-tooltip {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 768px) {
  .paginaInicio {
    flex-direction: column;
    padding: 1rem;
  }
}
