.container-lista-panel-pjs {
  padding: 2rem;
  border-radius: 12px;
  color: white;
  margin: 1rem auto;
}

.mensaje-lista-panel-pjs {
  text-align: center;
  color: #4caf50;
}

.personaje-card-lista-panel-pjs {
  background-color: #1c3d1c;
  border: 1px solid rgba(76, 175, 80, 0.3);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
  margin-top: 1rem;
}

.personaje-info-lista-panel-pjs {
  display: flex;
  flex-direction: column;
}

.personaje-header-lista-panel-pjs {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.personaje-head-lista-panel-pjs {
  width: 48px;
  height: 48px;
}

.personaje-nick-lista-panel-pjs {
  font-size: 1.3rem;
  font-weight: bold;
  color: #66bb6a;
}

.personaje-detalles-lista-panel-pjs p {
  margin: 0.3rem 0;
}

.estado-offline-lista-panel-pjs {
  font-weight: bold;
  color: red;
}

.personaje-actions-lista-panel-pjs {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.btn-link-lista-panel-pjs {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-link-lista-panel-pjs:hover {
  background-color: #66bb6a;
}

.btn-link-lista-panel-pjs.danger {
  background-color: #b71c1c;
}

.btn-link-lista-panel-pjs.danger:hover {
  background-color: #e53935;
}

.btn-link-lista-panel-pjs.warning {
  background-color: #f57f17;
  color: black;
}

.btn-link-lista-panel-pjs.warning:hover {
  background-color: #ffb300;
}

.btn-agregar-lista-panel-pjs {
  margin-top: 2rem;
  background-color: #66bb6a;
  color: black;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-agregar-lista-panel-pjs:hover {
  background-color: #4caf50;
}
