.form-container-form-cambiar-pw-recu {
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 0 14px rgb(239 215 124 / 70%);
  font-family: "Cinzel", serif;
  color: #d8e9c7;
}

.form-title-form-cambiar-pw-recu {
  font-size: 1.6rem;
  font-weight: 700;
  color: #f0e68c;
  text-align: center;
  margin-bottom: 25px;
}

.form-field-form-cambiar-pw-recu {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-label-form-cambiar-pw-recu {
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
}

.form-input-form-cambiar-pw-recu {
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(10, 10, 10);
  width: 100%;
  color: #d8e9c7;
  border: 2px solid #f0e68c;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-input-form-cambiar-pw-recu:focus {
  outline: none;
  border-color: #c9c9c9;
  box-shadow: 0 0 6px #a3c187aa;
}

.form-error-form-cambiar-pw-recu {
  color: #ff4d4d;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.form-button-form-cambiar-pw-recu {
  background: linear-gradient(145deg, #b8860b, #ffd700);
  color: #1a250f;
  font-weight: bold;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-button-form-cambiar-pw-recu:hover {
  transform: scale(1.03);
}

.form-button-form-cambiar-pw-recu:active {
  transform: scale(1.03);
}

/* Responsive */
@media (max-width: 480px) {
  .form-container-form-cambiar-pw-recu {
    padding: 20px;
  }

  .form-title-form-cambiar-pw-recu {
    font-size: 1.3rem;
  }
}
