.form-container-form-registrarse {
  background-color: #1a1a1a;
  padding: 35px;
  border-radius: 12px;
  max-width: 480px;
  margin: 40px auto;
  box-shadow: 0 0 14px rgb(239 215 124 / 70%);
  color: #d8e9c7;
  font-family: "Cinzel", serif;
}

.form-title-form-registrarse {
  text-align: center;
  font-size: 1.8rem;
  color: #f0e68c;
  margin-bottom: 25px;
}

.form-form-registrarse {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-input-form-registrarse {
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  background-color: rgb(10, 10, 10);
  color: #d8e9c7;
  border: 2px solid #f0e68c;
  font-size: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* calendario blanco */
}

.form-input-form-registrarse:focus {
  outline: none;
  border-color: #c9c9c9;
  box-shadow: 0 0 6px #a3c187aa;
}

.form-password-wrapper-form-registrarse {
  position: relative;
}

.toggle-btn-form-registrarse {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  color: #c7e5b1;
}

.form-btn-form-registrarse {
  margin-top: 10px;
  padding: 12px;
  background: linear-gradient(145deg, #b8860b, #ffd700);
  color: #1a250f;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-btn-form-registrarse:hover {
  transform: scale(1.03);
}
